/UCommerceTest2/UCommerceTest2/App_Data/Logs
/UCommerceTest2/UCommerceTest2/App_Data/TEMP/ExamineIndexes/MWPLKRAWC8LT024/External/Index

/UCommerceTest2/UCommerceTest2/App_Data/TEMP/ClientDependency

/UCommerceTest2/UCommerceTest2/App_Data/TEMP/ExamineIndexes/MWPLKRAWC8LT024/Internal/Index
/UCommerceTest2/UCommerceTest2/App_Data/TEMP/ExamineIndexes/MWPLKRAWC8LT024/InternalMember/Index

/UCommerceTest2/UCommerceTest2/App_Data/TEMP/PluginCache
