@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Payment>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

Thank you!
<a href="/HomePage">Return to home</a>