<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT addAddressInformation ANY>
<!ATTLIST addAddressInformation id ID #REQUIRED>
<!ELEMENT basket ANY>
<!ATTLIST basket id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT macroPage ANY>
<!ATTLIST macroPage id ID #REQUIRED>
<!ELEMENT masterDocType ANY>
<!ATTLIST masterDocType id ID #REQUIRED>
<!ELEMENT mediaPage ANY>
<!ATTLIST mediaPage id ID #REQUIRED>
<!ELEMENT payment ANY>
<!ATTLIST payment id ID #REQUIRED>
<!ELEMENT productPage ANY>
<!ATTLIST productPage id ID #REQUIRED>

]>
<root id="-1">
  <home id="2078" key="c49361da-f8fb-4e85-a5c4-a380c4d74f22" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-04-10T19:31:31" updateDate="2016-04-10T19:31:31" nodeName="Home" urlName="home" path="-1,2078" isDoc="" nodeType="2077" creatorName="Admin" writerName="Admin" writerID="0" template="2076" nodeTypeAlias="home">
    <mediaPage id="2081" key="03a2a70e-f569-4474-9e69-344c36b80f19" parentID="2078" level="2" creatorID="0" sortOrder="0" createDate="2016-04-10T19:50:50" updateDate="2016-04-10T19:53:10" nodeName="Try Media" urlName="try-media" path="-1,2078,2081" isDoc="" nodeType="2080" creatorName="Admin" writerName="Admin" writerID="0" template="2079" nodeTypeAlias="mediaPage">
      <image><![CDATA[2072]]></image>
    </mediaPage>
    <macroPage id="2093" key="2660a724-1c73-44ba-84d7-449dcfd13702" parentID="2078" level="2" creatorID="0" sortOrder="1" createDate="2016-04-11T09:16:39" updateDate="2016-04-11T09:52:30" nodeName="Try Macros" urlName="try-macros" path="-1,2078,2093" isDoc="" nodeType="2090" creatorName="Admin" writerName="Admin" writerID="0" template="2089" nodeTypeAlias="macroPage">
      <pageTitle><![CDATA[Article #1]]></pageTitle>
      <body><![CDATA[<p><strong>Check out our newest products!</strong></p>
<p>Click:</p>
<?UMBRACO_MACRO macroAlias="ThreeLastestProducts" />
<p> </p>
<p> </p>]]></body>
      <title><![CDATA[Article #1]]></title>
    </macroPage>
  </home>
</root>