<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT addBillingInformation ANY>
<!ATTLIST addBillingInformation id ID #REQUIRED>
<!ELEMENT basket ANY>
<!ATTLIST basket id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT productPage ANY>
<!ATTLIST productPage id ID #REQUIRED>

]>
<root id="-1">
  <homePage id="1048" key="9a249e19-8973-4b96-932d-7685e473a928" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-03-30T14:14:41" updateDate="2016-03-30T14:14:41" nodeName="home" urlName="home" path="-1,1048" isDoc="" nodeType="1047" creatorName="Admin" writerName="Admin" writerID="0" template="1046" nodeTypeAlias="homePage">
    <addBillingInformation id="1053" key="e9e78343-4a1c-440c-85c4-083b8075a444" parentID="1048" level="2" creatorID="0" sortOrder="0" createDate="2016-03-31T09:07:08" updateDate="2016-03-31T09:07:08" nodeName="Addbillinginformation" urlName="addbillinginformation" path="-1,1048,1053" isDoc="" nodeType="1052" creatorName="Admin" writerName="Admin" writerID="0" template="1051" nodeTypeAlias="addBillingInformation" />
    <productPage id="2051" key="2dc938bb-30c0-46cf-b2d8-8f757b73b323" parentID="1048" level="2" creatorID="0" sortOrder="1" createDate="2016-03-31T10:19:32" updateDate="2016-03-31T10:19:32" nodeName="product" urlName="product" path="-1,1048,2051" isDoc="" nodeType="2050" creatorName="Admin" writerName="Admin" writerID="0" template="2049" nodeTypeAlias="productPage" />
  </homePage>
</root>